{% extends 'base2.html' %}

{% load static %}
{% block content %}
<div class="container1">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1>About us</h1>
			<p>We help our customers simplify the process of fixing their furniture needs and requirements.</p>
			<p>Having been in the business or more than two decades, we understand and have provided solutions to most of the problems encountered by our clients sorting for both furnitue materials and products.</p>
			<p>We are <span style="font-size: 30px; font-weight: bold;">Akwaoche</span>  and our customers' desires are our main prioty</p>
			<img src="https://res.cloudinary.com/dankeuto/image/upload/v1614944200/media/sofa_fabric_alt_6_qduft4.jpg" height="500">
		</div>
		<div class="col-md-2"></div>
	</div>
	<br><br>
	<center><h3>Our Customers</h3></center>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<img src="https://res.cloudinary.com/dankeuto/image/upload/v1614946363/media/furniture_factory_d4lbnn.jpg" width="300" height="300">
				</div>
				<div class="col-md-6">
					<h5>Upholstery Factories</h5>
				<p>We bring our material products to the door step of furniture/ uphostery making  cocompanies who no longer need to visit the market to know what is available at any given time. It will only take a click to show your clients what materials are available for their work and equally guide them through making a good choice.</p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<img src="https://res.cloudinary.com/dankeuto/image/upload/v1614946363/media/maxresdefault_lk2vca.jpg" width="300" height="300">
				</div>
				<div class="col-md-6">
					<h5>Nollywood Industry</h5>
				<p>Most o our local film industries have access to their movie costumes.</p>
				</div>
			</div>

			
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<img src="https://res.cloudinary.com/dankeuto/image/upload/v1614948414/media/fashion_yr8yu2.jpg" width="300" height="300">
				</div>
				<div class="col-md-6">
					<h5>Fashion Design</h5>
				<p>Materials for outstanding outfits for fashion design industries and most weather controlling wears. </p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<img src="https://res.cloudinary.com/dankeuto/image/upload/v1614948930/media/Glam_wr26kl.jpg" width="300" height="300">
				</div>
				<div class="col-md-6">
					<h5>Home Upholstery</h5>
				<p>Our finished products are available to many homes. Our furniture services are equally available to most homes that need maintenance and or total overhauling of their furniture products. One can equally make choice of material before contacting an upholsterer. </p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}