{% extends 'base2.html' %}
{% load static %}

{% block content %}

		<p class="user-id">{{user.id}}</p>
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Cost Per Each</th>
				<th>Subtotal</th>
			</tr>
			{% for cart in carts%}
			<tr>
				<td>
					<div class="cart-info">
						<img src="{{cart.product.original_pics.url}}">
						<div>
							<p class="cart-id">{{cart.id}}</p>
							<p>{{cart.product.name}}</p>
							<small>Price: N{{cart.product.final_price}}</small>
							<br>
							<a href="{% url 'delete_from_cart' cart.product.id %}" onclick="confirm('Are you sure you want to delete product from cart?')">Remove</a>
						</div>
					</div>
				</td>
				<td><input class="quantity" type="number" value="{{cart.quantity}}" name=""></td>
				<td>N<span class="rate">{{cart.product.final_price}}</span></td>
				<td>N<span class="product">0.00</span></td>
			</tr>
			{% endfor %}
		</table>
		<div class="total-price">
			<table>
				<tr>
					<td>Subtotal</td>
					<td>N <span class="subtotal">0.00</span></td>
				</tr>
				<tr>
					<td>Tax</td>
					<td>N <span class="tax">100.00</span></td>
				</tr>
				<form action="{% url 'open_payment' %}" method="post">
					{% csrf_token %}
					<tr>
					<td>Total</td>
					
					<td><input style="border: none; width:100px; text-align: right;  " class="total" value="" type="text" name="totalcost" required=""></td>
				</tr>
				<tr>
					<td><a class="btn btn-primary calculate">Calculate</a></td>
					<td><button type="submit" id="make-payment" class="btn btn-success">Check Out</button></td>
				</tr>
				</form>
			</table>
		</div>
	

	<script src="{% static 'js/cart.js' %}"></script>

	<script>

	</script>

{% endblock %} 